body {
    background-color: #bfc5c8;
}
header {
    margin: 1em  0 3em;
}

header h1 {
    text-align: center;
}


/* Hierarchie */
#art-hier article {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}

#art-hier ul {
    list-style-type: none;
}
#hier  {
    list-style-type: none;
    padding: 1rem;
}

#art-hier h2 {
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-image: linear-gradient(0, grey, lightgrey 50%, grey);
    border-radius: 10px 10px 0 0;
    padding: 5px;
    margin: 0;
    border-bottom: 2px solid #dee2e6;
}

/* listing */
#lst h2 {
    font-family: typewriter;
    margin-bottom: 1em;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    border-radius: 10px;
}

.table tbody {
    background-color: white;
}

.table thead tr th{
    background-image: linear-gradient(0, grey, lightgrey 50%, grey);
    border-top: 0;
}

.table thead tr:first-child > th:first-child {
    border-top-left-radius: 10px;
}

.table thead tr:first-child > th:last-child {
	border-top-right-radius: 10px;
}

.table td .table th {
    border-top-color: white;
}